/*
  .dark-theme .btn-common-play-game-lg {
    background-image: linear-gradient(to right ,#13c6d8, #DB33FF);
}
*/ 

button.btn-common-play-game-lg{
    background-image: linear-gradient(to right ,#13c6d8, #DB33FF);
}

.btn-full-width {
    background-image: linear-gradient(to right ,#13c6d8, #DB33FF);
    transition: top ease 0.3s;
    top: 0;
    position: relative;
}

.btn-full-width:hover {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
    top: -7px;
}

.text-link {
    background-image: linear-gradient(to right ,#13c6d8, #DB33FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fontWeight: 710;
}